@charset "utf-8";

header {
    margin-bottom: -4px;
    
}

#wrap {
width: 100%;
height: 50px;
margin-top: 0;
margin-right: 36px;
margin-left: px;
margin-bottom: 0;
z-index: 99;
position: relative;
background-color: ;
}
 
.navbar {
	height: 50px;
	padding: 0;
	margin: 0;
	position: absolute;
	display: inline-block;
	width: 100%;
}
.navbar li {
height: auto;
width: 16.93%;  
float: left;  
text-align: center;  
list-style: none; 
font: normal bold 12px/1.2em Arial, Verdana, Helvetica;  
padding: 0px;
margin: 0;
background-color: #366b82;
}

.gallery ul li {
	width: 100%;	
}

.about ul li {
	width: 100%;
}

.navbar a {
padding: 20px 0;
border-left: 1px solid #54879d;
border-right: 1px solid #1f5065;
text-decoration: none;
color: white;
display: block;
width: 100%;
}
.navbar li ul {
display: none; 
height: auto;
margin: 0; 
padding: 0;
}

.navbar li:hover ul {
        display: block; 
}
.navbar li ul li a {
border-left: 1px solid #1f5065;
border-right: 1px solid #1f5065;
border-top: 1px solid #74a3b7;
border-bottom: 1px solid #1f5065;
}
 
.navbar li ul li a:hover {background-color: #0075F0;}


body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #EBEBEB;
	padding-left: 3.3em;
	padding-right: 3.3em;
	
}

h2 {
	color: #474E69;
}

h1 {
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:24px;
    margin-left: 2%;
	color: #474E69;
    
}

p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-right: 0px;
}


table  {
    border: none;
    width: 550px;
    border-radius: 1em;
    padding: 1em;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    background-color: #FFC343;
    -webkit-box-shadow: 3px 5px 13px 0px #C4C4C4;
    box-shadow: 3px 5px 13px 0px #C4C4C4;
    margin-bottom: 50px;
}

table th {
    border: none;
    width: 50%;
    text-align:left;
}

table td {
    border: none;
}

.top {
    text-align: center;
    padding-bottom: 1em;
}

.about {
    margin-left: 5%;
    margin-right: 5%;
    
}

.
.form {
	margin-left: 4em;
}

input, textarea {
	padding: 10px;
	border: 1px solid #CECECE;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
    width: 400px;
    height: 150px;
    max-width: 400px;
    line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: 1px solid #C9C9C9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;    
}

.form label {
    margin-left: 10px;
    color: #999999;
    border-bottom-right-radius: 0px;
}

.submit input {
    width: 100px;
    height: 40px;
    background-color: #F3D452;
    color: ;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #000000;
}
#Button1{
    width: 134px;
    text-align: center;
    border-radius: 10px;
    background-color: #767677;
    height: 30px;
    padding-right: 0px;
}


#Button1 a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 30px;
    font-weight: bold;
}


#Button2 a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 30px;
    font-weight: bold;
}

#Button1:hover{
    text-color:blue;
    background-color:#0075F0
        
    
}
#Button2:hover{
    text-color:blue;
    background-color:#0075F0
        
    
}

#sponsorsinfo{
    width: 500px;
    text-align: justify;
    margin-left: 55%;
	margin-top: 1%;
	padding: 1em;
	border-radius: 1em;
	background-color: #FFC343;
	-webkit-box-shadow: 3px 5px 13px 0px #C4C4C4;
	box-shadow: 3px 5px 13px 0px #C4C4C4;
}

#memberinfo{
	width: 500px;
	text-align: justify;
	margin-left: 55%;
	margin-top: -5%;
	padding: 1em;
	border-radius: 1em;
	background-color: #FFC343;
	-webkit-box-shadow: 3px 5px 13px 0px #C4C4C4;
	box-shadow: 3px 5px 13px 0px #C4C4C4;;	
}
#Button2{
	border: thick solid #525252;
	width: 134px;
	text-align: center;
	border-radius: 10px;
	background-color: #767677;
	height: 30px;
	float: right;
}


footer {
	clear: both;
	margin-top: 50px;
	text-align: center;
	font-size:10px;
	background-color:#A5A5A5;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 1em;
}


.facebook {
	padding: 1%;
	margin-left: 85%;
	margin-bottom: -50px;
}



.welcome p {
	padding-left: 5%;
	
}

.events {
	padding-top: 5%;
}

#img1{
	border: medium solid #000000;
	width: 200px;
	height: 100px;
}

#whatson p{
	padding-left: 23em;

}
	
#whatsoninfo{
	border: none;
	border-radius: 1em;
	padding: 1em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #FFC343;
	-webkit-box-shadow: 3px 5px 13px 0px #C4C4C4;
	box-shadow: 3px 5px 13px 0px #C4C4C4;
	margin-left: 32%;
	margin-bottom: 2em;
}

#whatsoninfo h1{
	font-weight: bold;
	font-size: medium;
	color: #000000;
}

#whatsoninfo img{
	float: left;
	padding-right: 1em;
}

#whatson img{
	float: left;
}

#tickets {
	width: 50%;
	border-radius: 1em;
	background-color: grey;
	text-align: center;
	font-weight: bold;
	padding: .5em;
	margin-left: 25%
}

#tickets a {
	text-decoration: none;
	color: white;
}

#tickets:hover{
    text-color:blue;
    background-color:#0075F0
        
    
}


#presh1{
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}

#indexinfo{
    margin-top: 99px;        
}

#LNAP{
    float: left;
	margin-top: 2em;
}
#LNAPinfo{
    border: none;
	border-radius: 1em;
	padding: 1em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #FFC343;
	-webkit-box-shadow: 3px 5px 13px 0px #C4C4C4;
	box-shadow: 3px 5px 13px 0px #C4C4C4;
	margin-left: 32%;
	margin-top: 2em;
	margin-bottom: 2em;
}

#LNAPtime{
    color: #000000;
    font-size: 15px;
    font-style: normal;
    font-weight: bolder;
}

#Container{
    margin-left: 0px;
    margin-right: auto;
    margin-top: 25px;
}
#Sponsor1 p{
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-decoration: none;
    margin-top: 65px;
    margin-left: 250px;
}
#Sponsor1 a{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-color: black;
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-top: 57px;
}
#Sponsor2 p{
font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
text-decoration: none;
margin-top: 100px;
margin-left: 250px;
}
#Sponsor2 a{
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-decoration: none;
text-color: black;
color: #000000;
font-style: normal;
font-weight: bold;
font-size: 20px;
}
#Sponsor3 p{
font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
text-decoration: none;
margin-top: 93px;
margin-left: 250px;
}
#Sponsor3 a{
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-decoration: none;
text-color: black;
color: #000000;
font-style: normal;
font-weight: bold;
font-size: 20px;
}
#Sponsor4 p{
font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
text-decoration: none;
margin-top: 94px;
margin-left: 250px;
}
#Sponsor4 a{
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-decoration: none;
text-color: black;
color: #000000;
font-style: normal;
font-weight: bold;
font-size: 20px;
}
#Sponsor5 p{
font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
text-decoration: none;
margin-top: 99px;
margin-left: 250px;
}
#Sponsor5 a{
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-decoration: none;
text-color: black;
color: #000000;
font-style: normal;
font-weight: bold;
font-size: 20px;
}

#Sponsors {
	margin-top: -762px;
}

#Sponsors p{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-decoration: none;
	margin-top: 95px;
	margin-left: 250px;
}
#Sponsors a{
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-decoration: none;
text-color: black;
color: #000000;
font-style: normal;
font-weight: bold;
font-size: 20px;
}

#img1{
margin-top: 15px;
margin-left: 1%;
border: medium solid #000000;
width: 200px;
height: 100px;
}


#img2{
margin-top: 15px;
margin-left: 1%;
border: medium solid #000000;
width: 200px;
height: 100px;
}

#img3{
margin-top: 15px;
margin-left: 1%;
border: medium solid #000000;
width: 200px;
height: 100px;
}

#img4{
margin-top: 15px;
margin-left: 1%;
border: medium solid #000000;
width: 200px;
height: 100px;
}

#img5{
margin-top: 15px;
margin-left: 1%;
border: medium solid #000000;
width: 200px;
height: 100px;
}
#img6{
margin-top: 15px;
margin-left: 1%;
border: medium solid #000000;
width: 200px;
height: 100px;
}

#benefactorsh1 p{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
}


#benefactors p{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	margin-top: 42px;
	margin-left: 55%;
	border: none;
	border-radius: 1em;
	padding: 1em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: -690px;
	margin-bottom: 50px;
	background-color: #FFC343;
	-webkit-box-shadow: 3px 5px 13px 0px #C4C4C4;
	box-shadow: 3px 5px 13px 0px #C4C4C4;
	margin-bottom: 703px;
	width: 600px;
}

.events {
	float: right;
	margin-top: -480px;

}

.children {
	width: 8in;
}

.paymnet {
	width: 4in;
}

.type{
	width: 5in;
}

#memberform {
	margin-left: 4em;;
}

.info {
	margin-left: 2em;
	margin-top: 2em;
	font-weight: lighter;
	font-style: oblique;
	font-size: small;
}

#indexinfo {
	margin-top: 1em;
}

.join {
	float: right;
	background-color: #00CBFF;
	padding: 2em;
	border-radius: 1em;
	margin-right: 10%;
	text-align:center;
}

.join a{
	text-decoration:none;
	
}

.join:hover {
	background-color: #FFD600

}

.joinevents {
	float: right;
	margin-top: -1000px;

}

.history {
	margin-right: 40%;
	margin-left: 2%;
}
